* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  
  form.dbm input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    margin-top:20px;
  }
  
  form.dbm button {
    float: left;
    width: 20%;
    padding: 10px;
    background: rgb(73,97,132);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-top:20px;
  }
  
  form.dbm button:hover {
    background: rgb(40,55,82);
  }

  .header {
    width: 100%;
    float: left;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(73,97,132);
    padding: 0;
  }

  ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul li {
    list-style: none;
    margin-right: 25px;
    margin-top: 10px;
    font-size: 14px;
  }

  ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }

  ul li a:hover{
    color: orange;
  }

  .title {
    position: center;
    text-align: center;
    color: black;
    font-size: 40px;
    padding: 10px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif; 
  }

.welcome {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-left:10px;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  position:absolute;
  margin-top:100px;
}

/* Add a think border around the whole table. */
table, th, td { 
  border: 1px solid black;
}

/* Date styles for table. */
table td {
  padding-top: 10px;
  vertical-align: middle;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Header Column Style settings */
table th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: rgb(40,55,82);
  color: white;
}

/* Makes every other entry a different shade for better readability. */
table tr:nth-child(even) {
background-color: #e0dfdf;
}

/* Row changes color when you hover over it. */
table tr:hover {background-color: rgb(187, 184, 184);}

/* Watch Later Button style */
.add input[type="submit"]{
  border:0;
  background: rgb(188,199,216);
  font-size: 20px;
  display: black;
  margin-left: 25px;
  margin-bottom: 10px;
  text-align: center;
  width: 40px;
  padding: 10px 10px;
  outline: none;
  color: white;
  border-radius: 30px;
  transition:0.25px;
  cursor: pointer;
}

.add input[type="submit"]:hover{
  background: rgb(73,97,132);
  }

.none {
  padding-top: 50px;
  width: 400px;
  font-size: 40px;
  color: black;
  font-family: Arial;
  position: center;
  height: 80px;
  margin: auto;
  margin-top: 60px;
}