.del-btn {
    border:0;
    background: rgb(188,199,216);
    font-size: 20px;
    margin:auto;
    margin-left: 10px;
    width: 30px;
    outline: none;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    height:20px;
    text-align: center;
  }

  .del-btn:hover {
    background: rgb(40,55,82);
  }

  .dropdown-content {
    position: absolute;
    margin-left: 20%px;
    margin-top: -12px;
    width: 40px;
  }

  .container {
    font-family: Arial;
    position:absolute;
    margin-top:100px;
    margin-left: 20px;
  }