{% extends 'nav.html' %}

{% block content %}
    <section class="home-section">
        <div class="text">Home</div>
        <p></p>

        {% for actor, tset in aset %}
            {% if tset %}
            <div class="titles-sim">
                Titles Staring {{ actor }}
            </div>
                <section class="thumbSection">
                    <div class="thumbTiles swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            {% for title in tset %}
                                <div class="swiper-slide">
                                    <form method=POST action="{% url 'title' %}">
                                    {% csrf_token %}
                                    <a class="thumbTile" href="#">
                                        <button class="title_btn" type="submit" name="title" value="{{ title.title_id }}">
                                            <span>
                                                <img class ="title-img" src="https://occ-0-1433-1432.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABUqwomVyMFsby9zeXLLnkfv744mKCzQDWL7rUDhbwg89bpT-V7qYoW-NNfjFaG3nFcDWu-U49vpUFB_L4njc2GFl6l60Efb4oT-_0e3oi3Dh8nwyLZhG2ciBHGUnRMB_J-D2jQk2Qz_WM4n8A_8b8ZqFDpj80B6KJ9T2bXR7rYcl0M8MaDCsR68.jpg?r=93f" />
                                            </span>&nbsp;
                                            <!-- {{ title.name }} -->
                                        </button>
                                    </a>
                                    </form>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div> -->
                    </div>
                </section>
            {% endif %}
        {% endfor %}

        {% for director, tset in dset %}
            {% if dset %}
                <div class="text">Titles Directed by {{ director }}</div>
                <section class="thumbSection">
                    <div class="thumbTiles swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            {% for title in tset %}
                                <div class="swiper-slide">
                                    <form method=POST action="{% url 'title' %}">
                                    {% csrf_token %}
                                    <a class="thumbTile" href="#">
                                        <button type="submit" name="title" value="{{ title.title_id }}"><span><img src="https://occ-0-1433-1432.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABUqwomVyMFsby9zeXLLnkfv744mKCzQDWL7rUDhbwg89bpT-V7qYoW-NNfjFaG3nFcDWu-U49vpUFB_L4njc2GFl6l60Efb4oT-_0e3oi3Dh8nwyLZhG2ciBHGUnRMB_J-D2jQk2Qz_WM4n8A_8b8ZqFDpj80B6KJ9T2bXR7rYcl0M8MaDCsR68.jpg?r=93f" /></span>&nbsp;{{ title.name }}</button>
                                    </a>
                                    </form>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div> -->
                    </div>
                </section>
            {% endif %}
        {% endfor %}

        {% for name, tset in sset %}
            {% if sset %}
            <div class="titles-sim">
                Titles Similar to {{ name }}
            </div>
            <section class="thumbSection">
                <div class="thumbTiles swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        {% for title in tset %}
                            <div class="swiper-slide">
                                <form method=POST action="{% url 'title' %}">
                                {% csrf_token %}
                                <a class="thumbTile" href="#">
                                    <button type="submit" name="title" value="{{ title.title_id }}"><span><img src="https://occ-0-1433-1432.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABUqwomVyMFsby9zeXLLnkfv744mKCzQDWL7rUDhbwg89bpT-V7qYoW-NNfjFaG3nFcDWu-U49vpUFB_L4njc2GFl6l60Efb4oT-_0e3oi3Dh8nwyLZhG2ciBHGUnRMB_J-D2jQk2Qz_WM4n8A_8b8ZqFDpj80B6KJ9T2bXR7rYcl0M8MaDCsR68.jpg?r=93f" /></span>&nbsp;{{ title.name }}</button>
                                </a>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div> -->
                </div>
            </section>
        {% endif %}
    {% endfor %}

    <script type="text/javascript">

    var mySwiper = new Swiper('.swiper-container', {
        // Optional parameters
        spaceBetween: 5,
        slidesPerView: 2,
        loop: true,
        freeMode: true,
        loopAdditionalSlides: 5,
        speed: 500,
        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        breakpoints: {
            // when window width is >= 640px
            640: {
                slidesPerView: 5,
                slidesPerGroup: 5,
                freeMode: false
            }
        }
    })
    
    let form = document.getElementById('home').addEventListener('click', function(){
        event.preventDefault();
    });
    </script>
{% endblock %}