{% extends 'nav.html' %}

{% block content %}
    <section class="home-section">
        <div class="text">Home</div>
        <p></p>

        {% for actor, tset in aset %}
            {% if tset %}
            <div class="titles-sim">
                Titles Staring {{ actor }}
            </div>
                <section class="thumbSection">
                    <div class="thumbTiles swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            {% for title in tset %}
                                <div class="swiper-slide">
                                    <form method=POST action="{% url 'title' %}">
                                    {% csrf_token %}
                                    <a class="thumbTile" href="#">
                                        <button class="title_btn" type="submit" name="title" value="{{ title.title_id }}">
                                            <span>
                                                <img class ="title-img" src="{{title.image}}"
                                        </button>
                                    </a>
                                    </form>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            {% endif %}
        {% endfor %}

        {% for director, tset in dset %}
            {% if tset %}
            <div class="titles-sim">Titles Directed by {{ director }}</div>
                <section class="thumbSection">
                    <div class="thumbTiles swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            {% for title in tset %}
                                <div class="swiper-slide">
                                    <form method=POST action="{% url 'title' %}">
                                    {% csrf_token %}
                                    <a class="thumbTile" href="#">
                                        <button class="title_btn" type="submit" name="title" value="{{ title.title_id }}">
                                            <span>
                                                <img src="{{ title.image }}" />
                                            </span>&nbsp;
                                        </button>
                                    </a>
                                    </form>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            {% endif %}
        {% endfor %}

        {% for name, tset in sset %}
            {% if tset %}
            <div class="titles-sim">Titles Similar to {{ name }}</div>
                <section class="thumbSection">
                    <div class="thumbTiles swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            {% for title in tset %}
                                <div class="swiper-slide">
                                    <form method=POST action="{% url 'title' %}">
                                    {% csrf_token %}
                                    <a class="thumbTile" href="#">
                                        <button class="title_btn" type="submit" name="title" value="{{ title.title_id }}">
                                            <span>
                                                <img src="{{ title.image }}" />
                                            </span>&nbsp;
                                        </button>
                                    </a>
                                    </form>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            {% endif %}
        {% endfor %}

    <script type="text/javascript">

    var mySwiper = new Swiper('.swiper-container', {
        // Optional parameters
        spaceBetween: 5,
        slidesPerView: 2,
        loop: true,
        freeMode: true,
        loopAdditionalSlides: 5,
        speed: 500,
        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        breakpoints: {
            // when window width is >= 640px
            640: {
                slidesPerView: 5,
                slidesPerGroup: 5,
                freeMode: false
            }
        }
    })
    
    let form = document.getElementById('home').addEventListener('click', function(){
        event.preventDefault();
    });
    </script>
{% endblock %}