{% load static %}

<!DOCTYPE html>
<html>
    <body>
        <head>
            <meta charset="utf-8">
            <title>Login form</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="{% static 'css/login.css' %}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </head>

        <form method="POST" action="">
            {% csrf_token %}
            <div class = "container">
                <h1>
                    Log In
                </h1>
                <div class = "input-group">
                    <input type="text" placeholder="Username..." name="username">

                    <input type="password" placeholder="Password..." name="password">

                    <input class="btn login_btn" type="submit" name="Log In" value="Log In">

                    <div class="flash-message">
                        {% for message in messages %}
                        <p> {{message}}</p>
                        {% endfor%}
                    </div>

                    <div class ="Already">
                        Don't have an account? <a href="{% url 'registerPage' %}" class="m1-2">Sign Up</a>
                    </div>
                </div>
            </div>

        </form>
    </body>
</html>