{% extends 'base.html' %}

{% block content %}

  <div class="title">
    <h1>Search Netflix, Amazon, Hulu, and Disney+</h1>
    <form class="search" method=POST action="" style="margin:auto;max-width:300px">
      {% csrf_token %}
      <input type="text" placeholder="Title, Cast, Director, etc. " name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <div class="check-box">
      <form action="" method="POST">
        <input type="checkbox" name="Netflix" value="Netflix"/> Netflix
        <input type="checkbox" name="Prime" value="Prime"/> Prime
        <input type="checkbox" name="Hulu" value="Hulu"/> Hulu
        <input type="checkbox" name="Disney+" value="disney+"/> Disney+
      </form>
    </div>
  </div>


  {% if title_set %}
  <div class="container">
    <div class="table">
      <table id="info">
        <tr>
          <th> Title </th>
          <th> Cast </th>
          <th> Director </th>
          <th> Duration </th>
          <th> Description </th>
          <th> Watch Later </th>
        </tr>
        {% for instance in title_set %}
        <tr>
          <td> {{ instance.name }} </td>
          <td> {{ instance.cast }} </td>
          <td> {{ instance.director }} </td>
          <td> {{ instance.duration}}
          {% if instance.type == "Movie" %}
            mins</td>
          {% else %}
            {% if instance.duration == 1 %}
              season
            {% else %}
              seasons
            {% endif %}
          {% endif %}
        </td>
          <div class="tdd"><td> {{ instance.description }} </td></div> 
          <td>
              <form method=POST action="{% url 'search' %}">
                {% csrf_token %}
                <button type="submit", class ="btn" name="add_wl" , value="{{ instance.id }}">+</button>
              </form>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% else %}
    {% if search %}
      <div class="none">Your search "{{ search }}" did not have any matches.</div>
    {% endif %}
  {% endif %}

{% endblock %}