{% extends 'base.html' %}

{% block content %}

  <div class="title">
    <h1>Search Netflix, Amazon, Hulu, and Disney+</h1>
  </div>

  <form class="search" method=POST action="" style="margin:auto;max-width:300px">
    {% csrf_token %}
    <input type="text" placeholder="Title, Cast, Director, etc. " name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>

  {% if title_set %}
  <div class="container">
    <div class="table">
      <table id="info">
        <tr>
          <th> Titles </th>
          <th> Cast </th>
          <th> Director </th>
          <th> Watch Later </th>
        </tr>
        {% for instance in title_set %}
        <tr>
          <td> {{ instance.name }} </td>
          <td> {{ instance.cast }} </td>
          <td> {{ instance.director }} </td>
          <td>
              <form method=POST action="{% url 'search' %}">
                {% csrf_token %}
                <button type="submit", class ="add" name="add_wl" , value="{{ instance.id }}">+</button>
              </form>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% else %}
  {% if search %}
  <div class="none">Your search "{{ search }}" did not have any matches.</div>
  {% endif %}
  {% endif %}

{% endblock %}