{% extends 'nav.html' %}
{% load static %}

{% block content %}
  <section class="home-section">
        <div class="text">{{ title.title.name }}</div>
        <div class="title-container">
            <div class="info">
                {{ title.title.description }}
            </div>
            <div class="info">
                {{ title.title.type }} 
                {% if title.title.type == 'Movie' %}
                    ({{ title.title.duration }} min)
                {% else %}
                    {% if title.title.duration == 1 %}
                        ({{ title.title.duration }} season)
                    {% else %}
                        ({{ title.title.duration }} seasons)
                    {% endif %}
                {% endif %}</div>
            <div class="info">
                {% if title.title.release_year %}
                    Release Year: {{ title.title.release_year }}
                {% endif %}
            </div>
            <div class = "info">
                <div class ="info-header">
                {% if title.title.cast %}
                <div class="test-box2"></div>
                    Cast 
                    <div class="test-box"></div>
                </div>
                    <p></p>
                    {{ title.title.cast }}
                {% endif %}
            </div>
            <div class = "info">
                {% if title.title.country %}
                    Filmed in {{ title.title.country }}
                {% endif %}
            </div>
            <div class="info">
                {% if title.title.director %}
                    Director: {{ title.title.director }}
                {% endif %}
            </div>
        </div>
    <div class="provider-info">
    <div>
        <img src="{{ title.title.image }}" alt="" class="box-art">
    </div>
        <div>Available On These Platforms
            <p></p>
        {% for title in tset %}
            {% if title.provider == 'Netflix' %}
                <a href="{{ title.link }}" class="button">
                    <img src="{% static 'images/netflix_icon.png' %}" class="provider_img">
                </a>
            {% endif %}

            {% if title.provider == 'Hulu' %}
            <a href="{{ title.link }}" class="button">
                <img src="{% static 'images/hulu_icon.jpg' %}" class="provider_img">
            </a>
            {% endif %}

            {% if title.provider == 'Prime' %}
            <a href="{{ title.link }}" class="button">
                <img src="{% static 'images/prime_icon.jpg' %}" class="provider_img">
            </a>
            {% endif %}
            
            {% if title.provider == 'Disney' %}
            <a href="{{ title.link }}" class="button">
                <img src="{% static 'images/dp_icon.png' %}" class="provider_img">
            </a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
  </section>

{% endblock %}