{% extends 'nav.html' %}

{% block content %}
  <section class="home-section">
        <div class="text">{{ title.title.name }}</div>
        <div>{{ title.title.description }}</div>
        <div>{{ title.title.type }} 
            {% if title.title.type == 'Movie' %}
                ({{ title.title.duration }} min)
            {% else %}
                {% if title.title.duration == 1 %}
                    ({{ title.title.duration }} season)
                {% else %}
                    ({{ title.title.duration }} seasons)
                {% endif %}
            {% endif %}</div>
        <div>Country: {{ title.title.country }}</div>
        <div>Release Year: {{ title.title.release_year }}</div>
        <div>Director: {{ title.title.director }}</div>
        <div>Cast: {{ title.title.cast }}</div>
        <div>Available Here: 
        {% for title in tset %}
            {{ title.provider }}, 
        {% endfor %}
        </div>
    <img src="{{ link }}">
  </section>

{% endblock %}