{% extends 'nav.html' %}

{% block content %}
  <section class="home-section">
      <script>
    let form = document.getElementById('watchLater').addEventListener('click', function(){
        event.preventDefault();
    });
  </script>
    <div class="text">Watch Later</div>
  
    {% if tset %}
      <div class="container">
        <div class="table">
          <table id="info">
            <tr>
              <th> Title </th>
              <th> Date Added </th>
              <th> Priority </th>
              <th> Delete </th>
            </tr>
            {% for title in tset%}
            <tr>
              <td>
                <form method=POST action="{% url 'title' %}">
                  {% csrf_token %}
                  <button type="submit" class="title-btn" name="title" value="{{ title.title_id }}">{{ title.title.name }}</a>
                </form>
              </td>
              <td> {{ title.date_added }} </td>
              <td> <form method=POST action="{% url 'watchlater' %}">
                {% csrf_token %}
                <input name="wl_id" value="{{ title.title_id }}" hidden="">
                <div class="dropdown">
                  <select onChange="form.submit();" name="dp_pri" class="dropbtn">
                    <div class ="dropdown-content">
                      <option value="{{ title.priority }}">{{ title.priority }}</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </div>
                  </select>
                </div>
              </form>
              </td>
              <td>
                <form method=POST action="{% url 'watchlater' %}">
                  {% csrf_token %}
                  <button type="submit", class="btn", name="btn_del", value="{{ title.title_id }}">x</button>
                </form>
            </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    {% else %}
      <div class="none">
        Your Watch Later List is Empty
      </div>
    {% endif %}
  </section>

{% endblock %}