{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Medved Schmidt DBM Project</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <div class ="header">
    <div class ="nav-links"></div>
      <ul>
        <li><a href="#"><a href="{% url 'search' %}" class="m1-2">Search</a></a></li>
        <li><a href="#">Watched</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign Up</a></li>
      </ul>
    </div>
</div>

  <div class="container">
    <div class="table">
      <table id="info">
        <tr>
          <th> Titles </th>
          <th> Cast </th>
          <th> Director </th>
          <th> Remove </th>
        </tr>
        {% for instance in title_set %}
        <tr>
          <td> {{ instance.title_id }} </td>
          <!-- <td> {{ instance.cast }} </td>
          <td> {{ instance.director }} </td> -->
          <td>
          <div class="add">
            <form method=POST action="{% url 'watchlater' %}">
              {% csrf_token %}
              <button type="submit", name="del_wl", value="{{ instance.title_id }}">x</button>
            </form>
          </div>
        </td>
        </tr>
        {% empty %}
            <h2><center>No Results Found!</center></h2>
        {% endfor %}
      </table>
    </div>
  </div>

</body>

</html>