{% extends 'nav.html' %}

{% block content %}
  <section class="home-section">
    <script>
      let form = document.getElementById('watched').addEventListener('click', function(){
          event.preventDefault();
      });
    </script>
    <div class="text">Watched</div>
  
    {% if watched_set %}
      <div class="container">
        <div class="table">
          <table id="info">
            <tr>
              <th> Title </th>
              <th> Rating </th>
              <th> Delete </th>
            </tr>
            {% for watched, title in comb_set %}
            <tr>
              <td> {{ title.name }} </td>
              <td> <form method=POST action="{% url 'watched' %}">
                {% csrf_token %}
                <input name="w_id" value="{{ watched.title_id }}" hidden="">
                <div class = "dropdown-content">
                <select onChange="form.submit();" name="dp_rat">
                  <option value="{{ watched.rating }}">{{ watched.rating }}</option>

                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </div>
                </select>
              </form>
              </td>
              <td>
                <form method=POST action="{% url 'watched' %}">
                  {% csrf_token %}
                  <button type="submit", class="btn", name="btn_del", value="{{ watched.title_id }}">x</button>
                </form>
            </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    {% else %}
      <div class="title">
        <h1>Your Watched List is Empty</h1>
      </div>
    {% endif %}
  </section>

{% endblock %}